<!-- Wrapper -->
<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6, ');</script>
<div id="wrapper_sec">
	<!-- Header -->
    <div id="masthead">
    	<!-- Logo -->
        <div class="logo">
	
        	<a href="index.html"><img src="assets/logo.png" alt="" /></a>
        </div>
        <!-- Right Head Section -->
        <div class="righthead">
            <div class="lang">
                <p>Select Language</p>
                <select name="speedC" id="speedC">
                	<option value="Slower" class="whoo">English</option>
                    <option value="Slow">Deutsch</option>
                    <option value="Slow">Russian</option>
                </select>
            </div>
            <div class="clear"></div>
            <!-- Welcome Message -->
            <div class="welcommsg">
            	<p>Default welcome msg!</p>
            </div>
            <div class="clear"></div>
            <!-- Top Navigation -->
            <div class="topnav">
            	<ul>
                	<li><a href="account.html">My Account</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="cart.html" class="colr">My Cart</a></li>
                    <li><a href="#" class="colr">Checkout</a></li>
                    <li class="last"><a href="login.html" class="colr">Log In</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Navigation -->
        <div class="navigation">
        	<div id="smoothmenu1" class="ddsmoothmenu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">APPEREL</a>
                        <ul>
                            <li><a href="listing.html">Hot Sale</a></li>
                            <li><a href="#" class="down">New Arrivals</a>
                                <ul>
                                    <li><a href="listing.html">Boys</a></li>
                                    <li><a href="listing.html">Girls</a></li>
                                    <li><a href="#" class="down">Latest</a>
                                        <ul>
                                            <li><a href="listing.html">Boys</a></li>
                                            <li><a href="listing.html">Girls</a></li>
                                            <li><a href="listing.html">Latest</a></li>
                                            <li><a href="listing.html">Brands</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="listing.html">Brands</a></li>
                                </ul>
                            </li>
                            <li><a href="listing.html">Tees Jeans</a></li>
                            <li><a href="listing.html">Outerwear &amp; Jackets</a></li>
                            <li><a href="listing.html">Pants &amp; Shorts</a></li>
                            <li><a href="listing.html">Polos &amp; Casual</a></li>
                            <li><a href="listing.html">Tees Shirts Suits</a></li>
                            <li><a href="listing.html">Sweaters</a></li>
                            <li><a href="listing.html">Other</a></li>
                        </ul>
                    </li>
                    <li><a href="#">SHOES</a></li>
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">BRANDS</a></li>
                    <li><a href="#">Pages</a>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="listing.html">Listing</a></li>
                            <li><a href="detail.html">Product Detail</a></li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="static.html">Static Page</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Themes</a>
                        <ul>
                            <li><a href="../yellow/index.html">Yellow</a></li>
                            <li><a href="../blue/index.html">Blue</a></li>
                            <li><a href="../beige/index.html">Beige</a></li>
                            <li><a href="../green/index.html">Green</a></li>
                            <li><a href="../purple/index.html">Purple</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- Search -->
        	<div class="search">
            	<input type="text" value="Search Entire Store Here" id="searchBox" name="s" onblur="if(this.value == '') { this.value = 'Search Entire Store Here'; }" onfocus="if(this.value == 'Search Entire Store Here') { this.value = ''; }" class="bar" />
                <a href="#" class="go">GO</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Bread Crumb -->
    <div id="crumb">
    	<ul>
        	<li><a href="index.html">Home</a></li>
            <li><a href="#" class="selected">For Guys</a></li>
        </ul>
    </div>
    <!-- Content Section -->
    <div id="content_sec">
    	<!-- Column 3 -->
    	<div class="col3">
        	<div class="login">
                <div class="innersec">
                	<div class="signin">
                    	<h4 class="colr">Please Sign In</h4>
                        <p class="colr under">If you have an account with us, please log in.</p>
                        <ul class="forms">
                        	<li class="txt bold">Email Address *</li>
                            <li class="inputfield"><input name="s" type="text" class="bar" /></li>
                        </ul>
                        <ul class="forms">
                        	<li class="txt bold">Password *</li>
                            <li class="inputfield"><input name="s" type="text" class="bar" /></li>
                        </ul>
                        <p class="right colr under">*Required Field</p>
                        <div class="clear"></div>
                        <ul class="forms">
                        	<li class="txt bold">&nbsp;</li>
                            <li class="inputfield">
                            	<a href="#" class="forgot left colr under">Forget Password?</a>
                                <a href="#" class="buttonone">Log In</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="newuser">
                    	<h4 class="colr">New Customers</h4>
                        <p>
                        	By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
                        </p>
                        <div class="clear"></div>
                        <a href="#" class="buttonone right">Creat an Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Footer -->
    <div id="footer">
    	<div class="leftfoot">
        	<div class="abtsec footlinks">
            	<ul>
                	<li><a href="static.html">About Us</a></li>
                    <li><a href="static.html">Customer Service</a></li>
                    <li><a href="static.html">Term &amp; Conditions</a></li>
                    <li><a href="static.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="infosec footlinks">
            	<ul>
                	<li><a href="static.html">Refund Policy</a></li>
                    <li><a href="static.html">Delivery Info</a></li>
                    <li><a href="static.html">Shipping Charges</a></li>
                    <li><a href="static.html">Store Locator</a></li>
                </ul>
            </div>
            <div class="followus">
            	<h5 class="white">Follow Us</h5>
            	<ul>
                	<li><a href="#"><img src="assets/footicon1.png" alt="" /></a></li>
                    <li><a href="#"><img src="assets/footicon2.png" alt="" /></a></li>
                    <li class="last"><a href="#"><img src="assets/footicon3.png" alt="" /></a></li>
                </ul>
            </div>
        </div>
        <div class="newslettersignup">
        	<h1 class="colr">NewsLetter SignUP</h1>
            <div class="clear"></div>
            <p>Special Offers, Extra Departures and News</p>
            <input type="text" value="Email Address" id="emailBox" name="s" onblur="if(this.value == '') { this.value = 'Email Address'; }" onfocus="if(this.value == 'Email Address') { this.value = ''; }" class="bbar" />
            <input type="text" value="Name" id="mailBox" name="s" onblur="if(this.value == '') { this.value = 'Name'; }" onfocus="if(this.value == 'Name') { this.value = ''; }" class="sbar" />
            <a href="#" class="signup">Sign Up</a>
        </div>
        <div class="clear"></div>
        <div class="copyrights">
        	<p>Copyrights © 2011 DUMMY, All Rights Reserved</p>
            <a href="#" class="top">Back to Top</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

