<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Estore 24</title>
<!-- // Stylesheets //-->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" />
<link href="css/select.css" rel="stylesheet" type="text/css" />
<!-- // Javascripts //-->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/selectmenu.js"></script>
<script type="text/javascript" src="js/ui.selectmenu.js"></script>
<script type="text/javascript" src="js/contentslider.js"></script>
<script type="text/javascript" src="js/jcarousellite_1.0.1.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.1.js"></script>
<script type="text/javascript" src="js/scroll.js"></script>
<script type="text/javascript" src="js/ddaccordion.js"></script>
<script type="text/javascript" src="js/acordin.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-1.3.1.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Impact_400.font.js"></script>
<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6, ');</script>
<!--[if lte IE 7]><style>#banner #paginate-slider1{margin:363px 10px 0px -100px;}</style><![endif]-->
</head>

<body>
<!-- Wrapper -->
<div id="wrapper_sec">
	<!-- Header -->
    <div id="masthead">
    	<!-- Logo -->
        <div class="logo">
        	<a href="index.html"><img src="images/logo.png" alt="" /></a>
        </div>
        <!-- Right Head Section -->
        <div class="righthead">
            <div class="lang">
                <p>Select Language</p>
                <select name="speedC" id="speedC">
                	<option value="Slower" class="whoo">English</option>
                    <option value="Slow">Deutsch</option>
                    <option value="Slow">Russian</option>
                </select>
            </div>
            <div class="clear"></div>
            <!-- Welcome Message -->
            <div class="welcommsg">
            	<p>Default welcome msg!</p>
            </div>
            <div class="clear"></div>
            <!-- Top Navigation -->
            <div class="topnav">
            	<ul>
                	<li><a href="account.html">My Account</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="cart.html" class="colr">My Cart</a></li>
                    <li><a href="#" class="colr">Checkout</a></li>
                    <li class="last"><a href="login.html" class="colr">Log In</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <!-- Navigation -->
        <div class="navigation">
        	<div id="smoothmenu1" class="ddsmoothmenu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">APPEREL</a>
                        <ul>
                            <li><a href="listing.html">Hot Sale</a></li>
                            <li><a href="#" class="down">New Arrivals</a>
                                <ul>
                                    <li><a href="listing.html">Boys</a></li>
                                    <li><a href="listing.html">Girls</a></li>
                                    <li><a href="#" class="down">Latest</a>
                                        <ul>
                                            <li><a href="listing.html">Boys</a></li>
                                            <li><a href="listing.html">Girls</a></li>
                                            <li><a href="listing.html">Latest</a></li>
                                            <li><a href="listing.html">Brands</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="listing.html">Brands</a></li>
                                </ul>
                            </li>
                            <li><a href="listing.html">Tees Jeans</a></li>
                            <li><a href="listing.html">Outerwear &amp; Jackets</a></li>
                            <li><a href="listing.html">Pants &amp; Shorts</a></li>
                            <li><a href="listing.html">Polos &amp; Casual</a></li>
                            <li><a href="listing.html">Tees Shirts Suits</a></li>
                            <li><a href="listing.html">Sweaters</a></li>
                            <li><a href="listing.html">Other</a></li>
                        </ul>
                    </li>
                    <li><a href="#">SHOES</a></li>
                    <li><a href="#">FASHION</a></li>
                    <li><a href="#">BRANDS</a></li>
                    <li><a href="#">Pages</a>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="listing.html">Listing</a></li>
                            <li><a href="detail.html">Product Detail</a></li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="static.html">Static Page</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Themes</a>
                        <ul>
                            <li><a href="../yellow/index.html">Yellow</a></li>
                            <li><a href="../blue/index.html">Blue</a></li>
                            <li><a href="../beige/index.html">Beige</a></li>
                            <li><a href="../green/index.html">Green</a></li>
                            <li><a href="../purple/index.html">Purple</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- Search -->
        	<div class="search">
            	<input type="text" value="Search Entire Store Here" id="searchBox" name="s" onblur="if(this.value == '') { this.value = 'Search Entire Store Here'; }" onfocus="if(this.value == 'Search Entire Store Here') { this.value = ''; }" class="bar" />
                <a href="#" class="go">GO</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Bread Crumb -->
    <div id="crumb">
    	<ul>
        	<li><a href="index.html">Home</a></li>
            <li><a href="#" class="selected">For Guys</a></li>
        </ul>
    </div>
    <!-- Content Section -->
    <div id="content_sec">
    	<!-- Column 1 -->
    	<div class="col1">
            <!-- My Cart -->
        	<div class="leftsections">
            	<h4 class="colr upper">My Account</h4>
                <div class="dashboard">
                    <ul>
                    	<li><a href="#">Account Dashboard</a></li>
                        <li><a href="#">Account Information</a></li>
                        <li><a href="#">Address Book</a></li>
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">Billing Agreements</a></li>
                        <li><a href="#">Recurring Profiles</a></li>
                        <li><a href="#">My Product Reviews</a></li>
                        <li><a href="#">My Tags</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">My Downloadable Products</a></li>
                        <li><a href="#">Newsletter Subscriptions</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <!-- Recent Viewed -->
        	<div class="leftsections">
            	<h4 class="colr upper">Compare Products</h4>
                <div class="compareprods">
                    <ul>
                    	<li><a href="#">Impatience T-Shirt</a><a href="#" class="right cross">&nbsp;</a></li>
                        <li><a href="#">Camp Pullover Hoodie</a><a href="#" class="right cross">&nbsp;</a></li>
                        <li><a href="#">Jacket</a><a href="#" class="right cross">&nbsp;</a></li>
                    </ul>
                    <div class="butns">
                        <a href="#" class="clearall left">Clear Al</a>
                        <a href="#" class="buttonone right">Compare</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- Advertisment -->
        	<div class="leftsections">
            	<div class="adv">
                	<a href="#"><img src="images/leftadv.gif" alt="" /></a>
                </div>
            </div>
            <div class="clear"></div>
            <!-- Poll -->
        	<div class="leftsections">
            	<h4 class="colr upper">COMMUNITY POLE</h4>
                <div class="poll">
                    <p class="bold">What is your favorite Magento feature?</p>
                    <ul>
                    	<li><input type="radio" value="" /> Layered Navigation</li>
                        <li><input type="radio" value="" /> Price Rules</li>
                        <li><input type="radio" value="" /> Category Management</li>
                        <li><input type="radio" value="" /> Compare Products</li>
                    </ul>
                    <a href="#" class="buttonone left">Vote</a>
                </div>
            </div>
        </div>
        <!-- Column 2 -->
    	<div class="col2">    
                <!-- My Account -->
            	<div class="account">
                	<h4 class="acchead colr">Dashboard</h4>
                    <div class="accinner">
                    <div class="hello">
                    	<h6 class="colr">Hello John!</h6>
                        <p>
                        	From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information.
Select a link below to view or edit information.
                        </p>
                    </div>
                    <div class="recentorders">
                    	<h5 class="colr">Recent Orders</h5>
                        <div class="account_table">
                            <ul class="headtable">
                                <li class="order colr bold">Order</li>
                                <li class="date colr bold">Date</li>
                                <li class="ship colr bold">Ship to</li>
                                <li class="ordertotal colr bold">Order Total</li>
                                <li class="status colr bold">Status</li>
                                <li class="action nobordr colr bold">&nbsp;</li>
                            </ul>
                            <ul class="contable grey">
                                <li class="order">5</li>
                                <li class="date">16/10/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Shiped</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable">
                                <li class="order">2</li>
                                <li class="date">05/10/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Completed</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable grey">
                                <li class="order">1</li>
                                <li class="date">02/10/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Completed</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable">
                                <li class="order">12</li>
                                <li class="date">16/02/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Shiped</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable grey">
                                <li class="order">7</li>
                                <li class="date">01/01/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Completed</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable">
                                <li class="order">12</li>
                                <li class="date">16/02/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Shiped</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                            <ul class="contable grey">
                                <li class="order">7</li>
                                <li class="date">01/01/2010</li>
                                <li class="ship">John</li>
                                <li class="ordertotal">$ 35.9</li>
                                <li class="status">Completed</li>
                                <li class="action nobordr"><a href="#" class="first">View</a><a href="#">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- Account Sections -->
                    <div class="sections">
                    	<div class="sec">
                        	<div class="sechead">
                            	<h6 class="colr">Contact Information</h6>
                                <a href="#" class="colr">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	<a href="#">Jhon</a><br />
                                <a href="#">john@website.com</a><br />
                                <a href="#">Change Password</a><br />
                            </div>
                        </div>
                        <div class="sec secbordr">
                        	<div class="sechead">
                            	<h6 class="colr">Newsletters</h6>
                                <a href="#" class="colr">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	You are currently not subscribed to any newsletter. 
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!-- Account Sections -->
                    <div class="sections">
                    	<div class="sec">
                        	<div class="sechead">
                            	<h6 class="colr">Address Book</h6>
                                <a href="#" class="colr">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	<p>
                                	<span class="bold">Default Billing Address</span><br />
                                    You have not set a default billing address.<br />
                                    <a href="#">Edit Address</a>
                                </p>
                            </div>
                        </div>
                        <div class="sec secbordr">
                        	<div class="sechead">
                            	<h6 class="colr">Newsletters</h6>
                                <a href="#" class="colr">Edit</a>
                            </div>
                            <div class="clear"></div>
                            <div class="txtsection">
                            	<p>
                                	<span class="bold">Default Billing Address</span><br />
                                    You have not set a default billing address.<br />
                                    <a href="#">Edit Address</a>
                                </p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="view_tags">
                	<div class="viewssec">
                    	<h6 class="simpletransform colr">Recent Views</h6>
                    	<ul>
                        	<li>
                            	<h5 class="bullet">1</h5>
                                <h5 class="title">Product Name</h5>
                                <div class="starrating">
                                	<a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star_rol.png" alt="" /></a>
                                </div>
                            </li>
                            <li>
                            	<h5 class="bullet">2</h5>
                                <h5 class="title">Product Name</h5>

                                <div class="starrating">
                                	<a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star_rol.png" alt="" /></a>
                                </div>
                            </li>
                            <li>
                            	<h5 class="bullet">3</h5>
                                <h5 class="title">Product Name</h5>
                                <div class="starrating">
                                	<a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star_rol.png" alt="" /></a>
                                </div>
                            </li>
                            <li>
                            	<h5 class="bullet">4</h5>
                                <h5 class="title">Product Name</h5>
                                <div class="starrating">
                                	<a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star.png" alt="" /></a>
                                    <a href="#"><img src="images/star_rol.png" alt="" /></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tagssec">
                    	<h6 class="simpletransform colr">Recent Views</h6>
                    	<ul>
                        	<li>
                            	<h5 class="bullet">1</h5>
                                <h5 class="title">Product Name</h5>
                                <p>Tags:</p>
                                <a href="#">Leatehr Bags, </a>
                                <a href="#">Bags, </a>
                                <a href="#">Laptop Bags</a>
                                <div class="clear"></div>
                            </li>
                            <li>
                            	<h5 class="bullet">2</h5>
                                <h5 class="title">Product Name</h5>
                                <p>Tags:</p>
                                <a href="#">Leatehr Bags, </a>
                                <a href="#">Bags, </a>
                                <a href="#">Laptop Bags</a>
                                <div class="clear"></div>
                            </li>
                            <li>
                            	<h5 class="bullet">3</h5>
                                <h5 class="title">Product Name</h5>
                                <p>Tags:</p>
                                <a href="#">Leatehr Bags, </a>
                                <a href="#">Bags, </a>
                                <a href="#">Laptop Bags</a>
                                <div class="clear"></div>
                            </li>
                            <li>
                            	<h5 class="bullet">4</h5>
                                <h5 class="title">Product Name</h5>
                                <p>Tags:</p>
                                <a href="#">Leatehr Bags, </a>
                                <a href="#">Bags, </a>
                                <a href="#">Laptop Bags</a>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="clear"></div>
                	</div>
                </div>
                
        </div>
    </div>
    <div class="clear"></div>
    <!-- Footer -->
    <div id="footer">
    	<div class="leftfoot">
        	<div class="abtsec footlinks">
            	<ul>
                	<li><a href="static.html">About Us</a></li>
                    <li><a href="static.html">Customer Service</a></li>
                    <li><a href="static.html">Term &amp; Conditions</a></li>
                    <li><a href="static.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="infosec footlinks">
            	<ul>
                	<li><a href="static.html">Refund Policy</a></li>
                    <li><a href="static.html">Delivery Info</a></li>
                    <li><a href="static.html">Shipping Charges</a></li>
                    <li><a href="static.html">Store Locator</a></li>
                </ul>
            </div>
            <div class="followus">
            	<h5 class="white">Follow Us</h5>
            	<ul>
                	<li><a href="#"><img src="images/footicon1.png" alt="" /></a></li>
                    <li><a href="#"><img src="images/footicon2.png" alt="" /></a></li>
                    <li class="last"><a href="#"><img src="images/footicon3.png" alt="" /></a></li>
                </ul>
            </div>
        </div>
        <div class="newslettersignup">
        	<h1 class="colr">NewsLetter SignUP</h1>
            <div class="clear"></div>
            <p>Special Offers, Extra Departures and News</p>
            <input type="text" value="Email Address" id="emailBox" name="s" onblur="if(this.value == '') { this.value = 'Email Address'; }" onfocus="if(this.value == 'Email Address') { this.value = ''; }" class="bbar" />
            <input type="text" value="Name" id="mailBox" name="s" onblur="if(this.value == '') { this.value = 'Name'; }" onfocus="if(this.value == 'Name') { this.value = ''; }" class="sbar" />
            <a href="#" class="signup">Sign Up</a>
        </div>
        <div class="clear"></div>
        <div class="copyrights">
        	<p>Copyrights © 2011 DUMMY, All Rights Reserved</p>
            <a href="#" class="top">Back to Top</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>
